.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 32px;
}

.block--border {
  border: 2px solid #2d80c8;
  border-radius: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 16px);
}

.block__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 32px;
  padding: 16px;
}

.block__footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 16px;
}

.input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.input-wrap:not(:last-child) {
  margin-bottom: 16px;
}

.count-val {
  text-align: center;
}
